body {
    background-color: #a9a5a5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

.nav-bar {
    background-color: rgba(186, 181, 181, 0.57);
    color: #ffffff;
    font-size: x-large;
}

.nav-bar > a {
    text-decoration: none;
    color: inherit;
}

td {
    padding: 10px;
}

table {
    border-spacing: 10px;
    border-collapse: separate;
}
